@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Source Sans Pro, sans-serif;
    color: #3a3a3a;
    background-color:#F5DFBB;
}

h1, h2{
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #311E10;
}

hr{
    border: 2px solid #311E10
}
/* logo, header and navigation*/

#header-background{
    background: url("../images/pexels-karolina-grabowska-4498606.jpg") no-repeat;
    background-size: cover;
    background-position: 0 60%;
    width: 100%;
    height: 500px;
}

#logo{
    font-size: 180%;
    float: left;
    padding-left: 25px;
    text-decoration: none;
}


#menu, #logo{
    line-height: 75px;
}

#menu{
    float: right;
    text-transform: uppercase;
    list-style: none;
    font-size: 150%;
}

#menu li{
    display: inline;
    margin-right: 20PX;
    
}

#menu a{
    color: inherit;
    text-decoration: none;
}

#contact{
    background-color: #311E10;
    opacity: 50%;
    padding: 10px;
    border-radius: 35%;
}
#contact, a{
    color: rgba(49, 30, 16, 1);
}
/*hover events*/

#contact:hover{
    opacity: 100%;
    color: white;
}

/* slogan-box */

#slogan-box{
    width: 30%;
    height: 85px;
    float: left;
    margin-top: 25%;
    margin-left: 20px;
    position: absolute;
    background-color: rgba(49, 30, 16, 0.6);   
}

#slogan-box > p{
    font-size: 215%;
    color: white;
    text-transform: uppercase;
}

/*club-info section*/

#class-info{
    height: 600px;
}

.session-info{
    width:25%;
    height: 100%;
    text-align: center;
    border: 4px solid #311E10;
    margin: 10px;
    background-color: #496f5d;
}

.session-info img{
    width: 100%;
    height: 20%;
    border-bottom:4px solid #311E10;
    float: left;
    
}

.session-info h3{
    text-transform: uppercase;
    font-size: 150%;
    letter-spacing: 3px;
    color: #311E10;
    font-weight: bolder;
    
}

.session-info a{
    
    text-decoration: none;
    margin-right: 20px;
    font-size: 200%;
    border: 4px solid #311E10;
    border-radius: 50%;
    padding: 10px;
    background-color: #311E10;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}