@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Source+Sans+Pro:wght@300;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Source Sans Pro, sans-serif;
    color: #3a3a3a;
    background-color:#F5DFBB;
}

h1, h2, h3{
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #311E10;
}

hr{
    border: 2px solid #311E10
}

a{
    font-size: 130%;
    text-decoration: none;
}

/* logo, header and navigation*/

#header-background{
    background: url("../images/pexels-karolina-grabowska-4498606.jpg") no-repeat;
    background-size: cover;
    background-position: 0 60%;
    width: 100%;
    height: 500px;
}

#logo{
    font-size: 180%;
    float: left;
    padding-left: 25px;
    text-decoration: none;
}


#menu, #logo{
    line-height: 75px;
}

#menu{
    float: right;
    text-transform: uppercase;
    list-style: none;
    font-size: 150%;
}

#menu li{
    display: inline;
    margin-right: 20PX;
    
}

#menu a{
    color: #311E10;
    text-decoration: none;
    font-weight: 600;
}

#menu a:hover{
    font-weight: 900;
}

/* slogan-box */

#slogan-box{
    width: 300px;
    height: 120px;
    float: left;
    margin-top: 20%;
    margin-left: 20px;
    margin-bottom: 10%;
    position: absolute;
    background-color: rgba(49, 30, 16, 0.6);  
}

#slogan-box > h2{
    font-size: 215%;
    color: white;
    text-transform: uppercase;
}

#slogan-box > p{
    font-size: 150%;
    color: white;
    text-transform: uppercase;
}

/* session section*/

#sessions{
    width: 100%;
    height: 1300px;
    text-align: center;
    contain: content;
}

#sessions h2{
    width: fit-content;
    border-bottom: 3px solid #311E10;
    font-size: 250%;
    text-align: center;
    margin: 0 auto auto;
}

#sessions h3{
font-size: 200%;
border-bottom: 3px solid #311E10;
width: 100%;
text-align: center;
margin: 0 auto auto;
}

.session-box{
    width: 100%;
    height: 350px;
}

#session-top{
    width: 100%;
    height: 100%;
    background: url("../images/pexels-andrea-piacquadio-866021.jpg") no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

#session-middle{
    width: 100%;
    height: 100%;
    background: url("../images/pexels-freestocksorg-396133.jpg") no-repeat;
    background-size: cover;
    background-position: 0 35%;
}

#session-bottom{
    width: 100%;
    height: 100%;
    background: url("../images/pexels-cottonbro-studio-7675417.jpg") no-repeat;
    background-size: cover;
    background-position: 30% 55%;
}

#sessions div{
    display: block;
}

#sessions a{
    font-size: 300%;
    font-weight: 600;
    position: relative;
    top: 80%;
    padding: 40px;
    margin-bottom: auto;
    text-transform: uppercase;
    color: white;
}

#sessions #session-middle a{
    color: #311E10;
}
/* hover avent */
#sessions a:hover{
    font-weight: 900;
}

/*footer*/

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 2% 5%;
    color: #311E10;
}

/*About.html*/

#about-section{
    height: 1300px;
    width: 100%;
    display: inline-block;
}

#about-section h2{
    border-bottom: 2px solid #311E10;
    width: fit-content;
    margin-left: 10px;
}

.about-box{
    width: 100%;
    height: 400px;
}

.about-box p{
    font-size: 200%;
    opacity: 1;
    color: white;
    margin-left: 20px;
}

.about-box > div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#women{
    background-image: url('../images/pexels-koolshooters-6246495.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 75%;
    opacity: 1;
}

#natal{
    background-image: url('../images/pexels-pavel-danilyuk-7055684.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 95%;
    opacity: 1;
}

#sweat{
    background-image: url('../images/pexels-photo-9165664.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 75%;
    opacity: 1;
}

/*join.html*/

#join-wrapper{
    width: 100%;
    height: 800px;
    background-image: url("../images/pexels-karolina-grabowska-4498603.jpg");
    background-size: cover;
    background-position: 0 50%;
}
/* Borrowed from Love Running Project */
form{
    margin: 150px 10% 0 0;
    color: #fff;
    font-size: larger;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.input-type{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 3px solid white;
    border-radius: 2px;
}
.input-type:hover{
border-color: #311E10;
}

.submit{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #311E10;
    color: #fafafa;
    display: block;
}

.submit:hover{
    background-color: #fafafa;
    color: #311E10;
}

/* media queries */

/* for larger-medium screen sizes 1200px width and below */

@media screen and (max-width:1200px){
    .about-box p{
        font-size: 150%;
    }
}

/* for medium-small screen sizes 900px width and below */

@media screen and (max-width:900px){
    #header-background{
        height: 300px;

    }   

    #menu{
        float: left;
        clear: left;
    }

    #slogan-box{
        opacity: 0;
    }

    #sessions h2{
        font-size: 150%;
        margin-bottom: 20px;
        display: inline-block;
        text-align: left;
    }

    #sessions{
        height: 750px;
    }

    .session-box{
        height: 150px;
        display: inline-block;
    }

    #sessions h3{
        font-size: 100%;
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    #sessions a{
        font-size: 150%;
    }

}

/* for smaller screen sizes 600px wide and below */

@media screen and (max-width:600px){
    #header-background{
        height: 200px;
    }

    #logo, #menu{
        font-size: 120%;
        margin: 0;
        position: relative;
    }

    .about-box p{
        font-size: 105%;
    }
}
